$light-black: #1e1b18;
$light-grey: #e1e4e7;

body {
    background-color: $light-black;
}

.application {

    .tray {
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        padding: 0.5em;
        background-color: $light-grey;

        .card {
            background-color: white;
        }
    }
}

.nav-btn {
    background-color: "red";
}