@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Red+Hat+Text:wght@300;400;500;600;700&display=swap');

$dark: #121212;
$light-black: #1e1e1e;
$grey: #292929;
$med-grey: #373737;
$pankkkk: #e83e79;
$teal: #02DAC6;
$base-border-radius: 0.25em;

body {
    font-family: 'Red Hat Text', sans-serif;
    color:rgba(255, 255, 255, 0.6);
    background-color: $dark;
}

.application {
    display: flex;
    flex-direction: column;

    .tray {
        border-radius: $base-border-radius;
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        padding: 0.5em;
        background-color: $light-black;

        h3 {
            font-family: 'Lato', sans-serif;
            letter-spacing: 0.65px;
            color: rgba(255, 255, 255, 0.9);
        }

        .card {
            border-radius: $base-border-radius;
            border: 0.5px rgba(0, 0, 0, 0.2) solid;
            padding: 0 0.5em;
            margin-bottom: 0.5em;
            background-color: $grey;
            
            p {
                // font-family: 'Red Hat Text', sans-serif;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}
.btn {
    padding: 1em;
    border: none;
    border-radius: $base-border-radius;
    text-transform: uppercase;
    background-color: #bb86fc;
    color: #000;
}

.form-control {
    border-radius: $base-border-radius;
    color:rgba(255, 255, 255, 0.9);

    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: $med-grey;
    
    label {
        margin: 0.5em 0;
    }

    input {
        font-size: 0.75em;
        padding: 1em 0.5em;
        background-color: $grey;
        color: rgba(255, 255, 255, 0.6);
    }

    input:focus {

    }

    :last-child {
        margin-top: 1em;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-radius: $base-border-radius;
        background-color: $teal;
        color: #000;
    }
}

.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}